<div class="row">

        <form [formGroup]="editRecipeForm">

                <div class="form-group row">
                        <label class="control-label col-xs-2" for="name">Name</label>
                        <div class="col-xs-10">
                                <input class="form-control" id="name" formControlName="name">
                        </div>
                </div>

                <div class="form-group row">
                        <label class="control-label col-xs-2" for="name">Name</label>
                        <div class="col-xs-10">
                                <input class="form-control" id="name" formControlName="name">
                        </div>
                </div>

                <div class="form-group row">
                        <label class="control-label col-xs-2" for="name">Name</label>
                        <div class="col-xs-10">
                                <input class="form-control" id="name" formControlName="name">
                        </div>
                </div>


        </form>
</div>